{% extends 'authentication/index.html' %}


{% block content %}

           


{% load crispy_forms_tags %}          

<!--Reset Password-->

<div class="forgot-password_header__container">
  <button  onclick="history.back()" class="header__button"><span>&#8592;</span>Back</button>
  
  <div class="header-image__container">
  </div>
</div> 

<div class="forgot-password_body__container">
  <div class="body_container__text">
    <h2>Forgot Password?</h2>
    <p class="forgot-password__helper-text">Dont worry we will send you a reset instruction </p>
  </div>

  <div class="body_container__input-fields">
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}                    
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
  </div> 

{% endblock %}

<p class="login__text">Back to <a href="/signin">Login</a></p>
</div>
          
