*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #F3FAFD;
    
}

.header__button{
    margin: 40px auto 15px 50px;
    padding: 2px 20px;
    border-radius: 10px;
    border: 1px solid #81B6C4;
    box-shadow: 1px 1px #81B6C4;
}

.header-image__container{
    margin: 0 auto auto 55px;
}

.forgot-password_body__container{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
}

.body_container__text{
    padding: 30px;
}

h2{
    font-weight: bolder;
}

.forgot-password__helper-text{
    font-size: 9px;
    font-weight: bolder;
    color: #81B6C4;
}

.body_container__input-fields{
    padding: 0 30px;
}

.email__field{
    padding: 10px 30px;
    border: 1.5px solid #81B6C4;
    border-radius: 5px;
    box-shadow: 1px 1px #81B6C4;
    margin: 13px auto;
}

.form__btn{
    margin: 0 auto 13px 53px;
    padding: 10px 75px;
    border-radius: 5px;
    border: 1.5px solid #81B6C4;
    box-shadow: 1px 1px #81B6C4;
    color: #163037;
    background-color: #81B6C4;
}

.login__text{
    text-align: center;
    font-size: 10px;
}

.login__text a{
    text-decoration: none;
}


@media(max-width: 360px){
    .form__btn{
        margin: 0 auto 13px 50px;
        padding: 10px 75px;
        border-radius: 5px;
        border: 1.5px solid #81B6C4;
        box-shadow: 1px 1px #81B6C4;
        color: #163037;
        background-color: #81B6C4;
        
    }
}

@media(max-width: 356px){
    .form__btn{
        margin: 0 auto 13px auto;
        padding: 10px 75px;
        border-radius: 5px;
        border: 1.5px solid #81B6C4;
        box-shadow: 1px 1px #81B6C4;
        color: #163037;
        background-color: #81B6C4;
        
    }
}