<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn - GenCode</title>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    
  </head>
  <body>
    <main>
      <section class="logo">
        <img src="{% static '/images/logo.png' %}" alt="logo" />
      </section>
         

      <section class="register_form">
        <p class="large_font"><strong>Welcome back !</strong></p>
        <p>Please input your details below to log in</p>
        
        <form  action="/signin"  method="post">
          {% csrf_token %}
          <label>Username</label><br />
          <input
            class="input_f input_button"
            id="username"
            name="username"
            type="text"
            placeholder="Enter Your Username"
            required
          /><br />
          <label>Email Address</label><br />
          <input
            class="input_f input_button"
            id="email"
            name="email"
            type="email"
            placeholder="Enter Email Address"
            required
          /><br />

          <label>Password</label><br />
          <input
            class="input_f input_button"
            id="pass1"
            name="pass1"
            type="password"
            placeholder=" Enter Password"
            required
          /><br />

          <input
            type="checkbox"
            id="remember_password"
            name="remember_password"
            value="remember"
          />
          <label for="remember_password">Remember password</label>

          <input
            class="input_b input_button submit_button"
            id="submit_login"
            type="submit"
            value="Log in"
          />
        </form>
       
        <p class="center-text">OR</p>

        <button class="input_b input_button google_button" type="button" > <a href="{% provider_login_url 'google' %}">Continue with Google</a> </button>
        

        
      
        <div><a href="/password_reset">Forgot password?</a></div>

        <div class="hasAcct">
          <p class="center-text">
            Don't have an account?
            <a href="/register">Register</a>
            
          </p>
        </div>
        <a href="/signout"><button class="white-btn">Log out</button></a>
        <button  onclick="history.back()" class="header__button"><span>&#8592;</span>Back</button>
      </section>
    </main>
  </body>
</html>
           

          