
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Outfit"/>

<div style="align-items: center; margin-top: 10%; margin-left: 20%; margin-right: 20%;">
<img src="static/images/ezgif.com-gif-maker.gif" alt="funny animation GIF"> 
</div>
<br>
<h3 style="font-family: outfit;">
    We give you an online presence so your customers find on the world
    wide web. Encrypt your portfolio's URL with us.
    <hr>
    We always want to provide the best value for you. GenCode gives you
    the best experience while you generate your QR code.
</h3>