<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogOut - GenCode</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
  </head>
  <body>
    <section class="logo">
        <img src="{% static '/images/logo.png' %}" alt="logo" />
      </section>
      
    <button type="submit"><a href="/signin">login</a></button>
    <button type="submit"><a href="/register">register</a></button> 
   
</body>
</html>